{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "DATABASE_URL": "sqlite:///./webaules.db",
    "FRONTEND_ORIGIN": "http://localhost:5173"
  }
}
